/*Selector universal (*):
selecciona todas y absolutamente todas las etiquetas*/
* {
  color:white!important;
  font-family: "Montserrat", sans-serif;
}

p {
  /* 
    background-color: es la propiedad que especifica el color de fondo de nuestro elemento
  */
  /* 
    Tipos de Código de colores.
    background-color: cornflowerblue;
    background-color: rgb(25, 65, 208);
    background-color: #21a04b;
    background-color: hsl(0, 100%, 50%);
    background-color: rgba(100, 148, 237, 0.79);
  */
  background-color: #155adba3;

  /* font-size: es la propiedad que establece el tamaño de la tipografia */
  font-size: 0.8rem;
  /* font-weight: establece el grosor del texto. */
  font-weight: 900;

  /*
    border: Son las propiedades que permiten especificar el estilo, ancho y color del borde de un elemento. */
  /*
    border-width: 20px;
    border-color: black;
    border-style: double;
    border: 1px solid black;
  */
  border-top: 1px solid black; /*Arriba*/
  border-bottom: 1px solid red; /*Abajo*/
  border-left: 1px solid green; /*Derecha*/
  border-right: 1px solid green; /*Izquierda*/
  border-radius: 35px;
  width: 50%;
  height: 25px;

  /*
    margin: se utilizan para crear espacio alrededor de los elementos,
    fuera de los bordes definidos.
  */
  /* 
    margin-Lados individuales
    margin-top: 20px;
    mergin-right: 20px;
    margin-bottom: 20px;
    mergin-left: 20px;

    Los valores se utilizan en el sentido de las agujas del reloj
    margin: 30px 0 30px 20px;
  */
  margin: 30px 0 30px 20px;

  /*
    padding: Se utiliza para crear espacio alrededor del contenido de un elemento,
    dentro de los bordes definidos.
  */
  padding: 20px 0 20px;
  outline: 2px solid red; /* outline: Es una línea dibujada fuera del borde del elemento. */
  text-align: center; /* text-align: La propiedad se utiliza para establecer la alineación horizontal de un texto. */
  text-decoration: underline green double 5px; /* text-decoration: La propiedad se utiliza para establecer una decoración a un texto*/
  text-transform: capitalize; /* text-transform: La propiedad se utiliza para especificar letras mayúsculas y minúsculas en un texto. */
  letter-spacing: 5px; /* letter-spacing: La propiedad se utiliza para especificar el espacio entre los caracteres de un texto. */
  word-spacing: 12px; /* word-spacing: La propiedad se utiliza para especificar el espacio entre las palabras en un texto. */
  line-height: 20px; /* line-height: La propiedad se utiliza para especificar el espacio entre líneas. */
  text-shadow: 10px -5px 2px black; /* text-shadow: La propiedad agrega sombra al texto. */
  font-family: "Montserrat", sans-serif;
}


/*Una pseudoclase se utiliza para definir un estado especial de un elemento.

Por ejemplo, se puede utilizar para:

Aplicar estilo a un elemento cuando un usuario pasa el ratón por encima de él
Estilizar los enlaces visitados y no visitados de manera diferente
Aplicar estilo a un elemento cuando se le da el foco*/

/* Color de fondo cuando el mouse paso sobre un elemento */
p:hover{
  background-color: red;
}
/*
Pseudo Clases
Manejan un estado de los elementos html
*/
/*Color cuando ya visite el link*/
a:visited{
  color: yellow;
}
/*Color cuando no he visitado el link*/
a:link{
  color: blueviolet;
}
/*Color cuando doy click en el link*/
a:active{
  color: black;
}

/*
  Pseudo elementos
  Manejan una parte especifica del elemento
*/

p::first-letter{
  font-size: 30px;
}

p::first-line{
  color: white;
}

p::after{
  content:"";
}

p::before{
  content:"";
}

body{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230825/pngtree-fantasy-landscape-with-mountains-and-clouds-in-the-sky-digital-illustration-image_13246435.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center*/;
}