:root{
  --main-color-text: white
}
body {
  background: linear-gradient(to right, red, yellow, green);}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  /*Horizontal*/
  justify-items: center;
  /*Vertical*/
  align-content: center;
}

section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(8, 8, 173);
  transition: background-color 3s, color 1s;
}

section div:hover {
  background-color: red;
  color: var(--main-color-text);
}

.info {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.izquierda{
  grid-column: span 4;
}

.derecha{
  grid-column: span 8;
}
